# QUERY REPORT

## Connecting to database

In [1]:
%load_ext sql

In [3]:
%sql mysql+pymysql://root:Leeyah05#@localhost:3307/pizzastore

'Connected: root@pizzastore'

### Exploring Data

In [4]:
%%sql
SELECT * FROM pizzastore.pizza_sales
limit 10;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
10 rows affected.

[(1, 1, 'hawaiian_m', 1, '2015-01-01', '11:38:36', 13.25, 13.25, 'M', 'Classic', 'Sliced Ham, Pineapple, Mozzarella Cheese', 'The Hawaiian Pizza'),
 (2, 2, 'classic_dlx_m', 1, '2015-01-01', '11:57:40', 16.0, 16.0, 'M', 'Classic', 'Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon', 'The Classic Deluxe Pizza'),
 (3, 2, 'five_cheese_l', 1, '2015-01-01', '11:57:40', 18.5, 18.5, 'L', 'Veggie', 'Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic', 'The Five Cheese Pizza'),
 (4, 2, 'ital_supr_l', 1, '2015-01-01', '11:57:40', 20.75, 20.75, 'L', 'Supreme', 'Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic', 'The Italian Supreme Pizza'),
 (5, 2, 'mexicana_m', 1, '2015-01-01', '11:57:40', 16.0, 16.0, 'M', 'Veggie', 'Tomatoes, Red Peppers, Jalapeno Peppers, Red Onions, Cilantro, Corn, Chipotle Sauce, Garlic', 'The Mexicana Pizza'),
 (6, 2, 'thai_ckn_l', 1, '2015-01-01', '11:57:40', 20.75, 20.75, 'L', 'Chicken', 'Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce', 'The Thai Chicken Pizza'),
 (7, 3, 'ital_supr_m', 1, '2015-01-01', '12:12:28', 16.5, 16.5, 'M', 'Supreme', 'Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic', 'The Italian Supreme Pizza'),
 (8, 3, 'prsc_argla_l', 1, '2015-01-01', '12:12:28', 20.75, 20.75, 'L', 'Supreme', 'Prosciutto di San Daniele, Arugula, Mozzarella Cheese', 'The Prosciutto and Arugula Pizza'),
 (9, 4, 'ital_supr_m', 1, '2015-01-01', '12:16:31', 16.5, 16.5, 'M', 'Supreme', 'Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic', 'The Italian Supreme Pizza'),
 (10, 5, 'ital_supr_m', 1, '2015-01-01', '12:21:30', 16.5, 16.5, 'M', 'Supreme', 'Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic', 'The Italian Supreme Pizza')]

## KPIs

#### Total Revenue

In [5]:
%%sql
select CAST(SUM(total_price) as decimal(10,2)) as total_revenue
from pizzastore.pizza_sales;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
1 rows affected.

[(Decimal('817860.05'),)]

#### Average Order Value

In [6]:
%%sql
select CAST(SUM(total_price)/COUNT(DISTINCT(order_id)) AS decimal(10,2)) AS Avg_Order_Value
from  pizzastore.pizza_sales;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
1 rows affected.

[(Decimal('38.31'),)]

#### Total Pizzas Sold

In [7]:
%%sql
SELECT SUM(quantity) as Total_pizzas_sold
from  pizzastore.pizza_sales;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
1 rows affected.

[(Decimal('49574'),)]

#### Total Orders

In [8]:
%%sql
select COUNT(DISTINCT(order_id)) as Total_orders
from pizzastore.pizza_sales;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
1 rows affected.

[(21350,)]

#### Average Pizzas Per Order

In [9]:
%%sql 
select CAST(SUM(quantity)/COUNT(DISTINCT(order_id)) AS decimal(10,2)) as Avg_pizzas_per_order
from pizzastore.pizza_sales;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
1 rows affected.

[(Decimal('2.32'),)]

## Chart Requirements

#### Daily Trend for Total Orders

In [10]:
%%sql
select 
     DAYNAME(order_date) as Order_day,
     COUNT(DISTINCT(order_id)) as Total_orders
from  pizzastore.pizza_sales
group by WEEKDAY(order_date),dayname(order_date)
order by weekday(order_date) ASC;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
7 rows affected.

[('Monday', 2794),
 ('Tuesday', 2973),
 ('Wednesday', 3024),
 ('Thursday', 3239),
 ('Friday', 3538),
 ('Saturday', 3158),
 ('Sunday', 2624)]

#### Monthly Trend for Total Orders

In [12]:
%%sql
select 
     monthname(order_date) as Month_name,
     COUNT(DISTINCT(order_id)) as Total_orders
from  pizzastore.pizza_sales
group by monthname(order_date),month(order_date)
order by month(order_date);

 * mysql+pymysql://root:***@localhost:3307/pizzastore
12 rows affected.

[('January', 1845),
 ('February', 1685),
 ('March', 1840),
 ('April', 1799),
 ('May', 1853),
 ('June', 1773),
 ('July', 1935),
 ('August', 1841),
 ('September', 1661),
 ('October', 1646),
 ('November', 1792),
 ('December', 1680)]

#### Percentage of Sales by Pizza Category

In [18]:
%%sql
select
pizza_category,
count(quantity) as Qty_sold_per_category,
cast(sum(total_price) as decimal(10,2)) as sales_per_caategory,
cast(sum(total_price)*100/(select sum(total_price) from pizza_sales) as decimal(10,2)) Percentage_of_total_sales
from pizza_sales
group by pizza_category;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
4 rows affected.

[('Classic', 14579, Decimal('220053.10'), Decimal('26.91')),
 ('Veggie', 11449, Decimal('193690.45'), Decimal('23.68')),
 ('Supreme', 11777, Decimal('208197.00'), Decimal('25.46')),
 ('Chicken', 10815, Decimal('195919.50'), Decimal('23.96'))]

#### Percentage of Sales by Pizza Size

In [19]:
%%sql
select
pizza_size,
count(quantity) as qty_sold_per_size,
cast(sum(total_price) as decimal(10,2)) as sales_per_size,
cast(sum(total_price)*100/(select sum(total_price) from pizza_sales) as decimal(10,2)) Percentage_of_total_sales
from pizza_sales
group by pizza_size
order by Percentage_of_total_sales DESC;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
5 rows affected.

[('L', 18526, Decimal('375318.70'), Decimal('45.89')),
 ('M', 15385, Decimal('249382.25'), Decimal('30.49')),
 ('S', 14137, Decimal('178076.50'), Decimal('21.77')),
 ('XL', 544, Decimal('14076.00'), Decimal('1.72')),
 ('XXL', 28, Decimal('1006.60'), Decimal('0.12'))]

#### Best Performing Products by revenue

In [20]:
%%sql
select pizza_name,
cast(sum(total_price) as decimal(10,2)) as Total_revenue
from pizza_sales
group by pizza_name
order by Total_revenue desc
limit 5;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
5 rows affected.

[('The Thai Chicken Pizza', Decimal('43434.25')),
 ('The Barbecue Chicken Pizza', Decimal('42768.00')),
 ('The California Chicken Pizza', Decimal('41409.50')),
 ('The Classic Deluxe Pizza', Decimal('38180.50')),
 ('The Spicy Italian Pizza', Decimal('34831.25'))]

#### Least Performing Products by revenue

In [21]:
%%sql
select pizza_name,
cast(sum(total_price) as decimal(10,2)) as Total_revenue
from pizza_sales
group by pizza_name
order by Total_revenue asc
limit 5;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
5 rows affected.

[('The Brie Carre Pizza', Decimal('11588.50')),
 ('The Green Garden Pizza', Decimal('13955.75')),
 ('The Spinach Supreme Pizza', Decimal('15277.75')),
 ('The Mediterranean Pizza', Decimal('15360.50')),
 ('The Spinach Pesto Pizza', Decimal('15596.00'))]

#### Best Performing Products by quantity

In [25]:
%%sql
select pizza_name,
sum(quantity)as Qty_sold
from pizza_sales
group by pizza_name
order by Qty_sold desc
limit 5;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
5 rows affected.

[('The Classic Deluxe Pizza', Decimal('2453')),
 ('The Barbecue Chicken Pizza', Decimal('2432')),
 ('The Hawaiian Pizza', Decimal('2422')),
 ('The Pepperoni Pizza', Decimal('2418')),
 ('The Thai Chicken Pizza', Decimal('2371'))]

#### Least Performing Products by Quantity

In [24]:
%%sql
select pizza_name,
sum(quantity)  as Qty_sold
from pizza_sales
group by pizza_name
order by Qty_sold asc
limit 5;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
5 rows affected.

[('The Brie Carre Pizza', Decimal('490')),
 ('The Mediterranean Pizza', Decimal('934')),
 ('The Calabrese Pizza', Decimal('937')),
 ('The Spinach Supreme Pizza', Decimal('950')),
 ('The Soppressata Pizza', Decimal('961'))]

#### Best Performing Products by Orders

In [26]:
%%sql
select pizza_name,
count(distinct(order_id)) as Total_orders
from pizza_sales
group by pizza_name
order by Total_orders desc
limit 5;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
5 rows affected.

[('The Classic Deluxe Pizza', 2329),
 ('The Hawaiian Pizza', 2280),
 ('The Pepperoni Pizza', 2278),
 ('The Barbecue Chicken Pizza', 2273),
 ('The Thai Chicken Pizza', 2225)]

#### Least Performing Products by Orders

In [27]:
%%sql
select pizza_name,
count(distinct(order_id)) as Total_orders
from pizza_sales
group by pizza_name
order by Total_orders asc
limit 5;

 * mysql+pymysql://root:***@localhost:3307/pizzastore
5 rows affected.

[('The Brie Carre Pizza', 480),
 ('The Mediterranean Pizza', 912),
 ('The Calabrese Pizza', 918),
 ('The Spinach Supreme Pizza', 918),
 ('The Chicken Pesto Pizza', 938)]